
<div class="row">
  <div class = "well col-md-8 col-md-offset-2">
    <%= form_for ([@recipe, @recipe.reviews.build]) do |f|%>
      <%= f.label :body%>
      <%= f.text_field :body%>

      <%= f.submit 'Create Style', class: "btn btn-success" %>
    <%end%>
  </div>
</div>